@use '../../../partials/_config' as *;

.container {
  border-radius: 10px;
  background: $cor-neutra-7;
  color: $cor-neutra-1;
  height: fit-content;

  .header {
    background-size: 100%;
    background: url("../../../assets/backGroundProfile.jpg") center;
    height: $escala-xg;
    position: relative;
    border-radius: 10px 10px 0 0;

      .wrapperPerfil{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 60px;
        width: 60px;
        @media (max-width: 600px){
          transform: translate(-50%, 30%);
        }
      }
    }

  .body {
    padding: $escala-m;

    .input{
      background: $cor-neutra-6;
      border-radius: 7px;
      border: none;
      padding: $escala-pp;
      margin-block: 10px;
      width: 100%;
      color: white;
      outline: 1px solid $cor-primaria;
    }
    .title {
      text-align: center;
      font-size: $escala-pp;
    }

    .subtitle {
      text-align: center;
      display: block;
      font-size: $escala-pp * 0.8;
      opacity: .4;
    }
  }

  .footer {
    padding: $escala-m;
    border-top: 1px solid $cor-neutra-6;
    display: grid;
    place-items: center;
  }

}