@use 'partials/config' as *;

.container{
  display: grid;
  grid-template-columns: 16rem 3fr;
  max-width: 60rem;
  width: 95%;
  gap: $escala-p;
  margin: $escala-p auto;

  @media (max-width: 600px){
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  :root{
    font-size: 85%;
  }
}

