//<!--  CDN do FontAwesome-->
//<script src="https://kit.fontawesome.com/782e4cfd7d.js" crossorigin="anonymous"></script>
//<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>


$fonte-1: '';
$fonte-2: '';

$escala-xplus: 16rem; // 256
$escala-plus: 8rem; // 128
$escala-xx-gg: 4.5rem; // 72
$escala-xgg: 4rem; // 64
$escala-gg: 3rem; // 48
$escala-g: 2rem; // 32
$escala-m: 1.5rem; // 24
$escala-p: 1rem; // 16
$escala-pp: 0.875rem; // 14
$escala-xpp: 0.75rem; // 12

$cor-1: #e;
$cor-2: #e;
$cor-3: #e;

$largura-total: min(100%, 1200px);

.showing{
  opacity: 0;
  animation: showing 500ms forwards;
}

@keyframes showing {
  50%{
    transform: translateY(0);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.showing{
  animation: hiding 500ms forwards;
}

@keyframes hiding {
  100%{
    opacity: 0;
  }
}
