@use '../../partials/_config' as *;

header.container{
  height: 100px;
  background: $cor-neutra-7;
  padding: $escala-p;
  justify-content: center;
  display: flex;
  align-items: center;

  h1.title{
    color: $cor-neutra-1;
    font-weight: 700;
    margin-left: $escala-pp;
  }
}