$fonte: 'Poppins', sans-serif;;
$font-tamanho-h1: 2.3rem;
$font-tamanho-h2: .7rem;
$font-tamanho-p: .8rem;
$cor-texto: white;

$cor-primaria: hsl(0, 100%, 74%)  ; 
$cor-secundaria: hsl(154, 59%, 51%);
$cor-terciaria: hsl(248, 32%, 49%);

$esp-grande: 8%; 
$esp-medio: 5%; 
$esp-pequeno: 3%;

:root{ font-size: 16px; }

*{ box-sizing: border-box; padding: 0; margin: 0 auto; max-height: fit-content; }

body{
    height: 100svh; 
    display: grid; 
    place-content: center;
    font-family: $fonte;
    background-color: $cor-primaria;
    background-image: url('../images/bg-intro-desktop.png');
    background-size: 100%;


    @media (max-width: 500px) {
        height: fit-content;
        background-image: url('../images/bg-intro-mobile.png');
    }
}

@mixin flexboxConfig($justify: center, $align: center, $direction: row)
{ display: flex; justify-content: $justify; align-items: $align; flex-direction: $direction; }

img{
    max-width: 100%;
}

@keyframes fade-out {
    100%{
        opacity: 0;
    }
}
@keyframes fade-in {
    100%{
        opacity: 1;
    }
}



.congrats{
    font-size: 1.8rem;
    font-style: italic;
    opacity: 0;
}

.fade-in{
    animation: fade-in 1s 500ms forwards ;
}
.fade-out{
    animation: fade-out 500ms forwards ;
}

/////////////

button:hover, #container-msg:hover {
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0px 0px 0px hsl(154, 68%, 28%) !important;
}

#mobile-break{
    display: none;
} 


.link-especial{
    color: $cor-primaria !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

main{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $esp-pequeno;

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-height);
        width: 90%;
        text-align: center;

    }

    #container-msg, form, #container-merchan{
        width: 100%;
        border-radius: 10px;
    }

    #container-msg{
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: $cor-terciaria;
        color: $cor-texto;
        box-shadow: 0px 5px 0px hsl(248, 36%, 38%);
        padding-block: $esp-medio;
        transition: .2s;

        @media (max-width: 400px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        p{
            width: fit-content;
        }
    }

    #container-principal{
        grid-column: 2/3;
        width: 100%;
        grid-row: 2/3;
        padding: $esp-medio * 1.3;
        background-color: white;
        border-radius: 10px;

        @media (max-width: 400px) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        form{
            input{
                border-radius: 10px;
                width: 100%;
                font-family: $fonte;
                display: block;
                padding: $esp-medio;
                margin-bottom: $esp-medio;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.13);
            }

            input:invalid{
                border: 1px solid red;
            }

            button{
                font-family: $fonte;
                padding-block: $esp-medio;
                background-color: $cor-secundaria;
                border: none;
                border-radius: 10px;
                box-shadow: 0px 5px 0px hsl(154, 68%, 28%);
                width: 100%;
                color: $cor-texto;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: $esp-medio;
                transition: .2s;
            }

            span{
                font-size: $font-tamanho-p * 0.8;
                width: fit-content;
                display: block;
                color: rgb(193, 193, 193);


                @media (max-width: 400px) {
                    #mobile-break{
                        display: initial;
                    } 
                }
            }
        }

        #container-sucesso{
            text-align: center;
            display: none;
            opacity: 0;

            div{
                width: 80%;
                margin-bottom: $esp-pequeno;


                img{
                    transform: scale(0);
                    animation: show-img 1.2s forwards;
                }

                @keyframes show-img {
                    0%{
                        transform: scale(0);
                    }
                    100%{
                        transform: scale(1);
                    }
                }
            }
        }
    }
    #container-merchan{
        grid-column: 1/2;
        grid-row: 2/3;
        line-height: 1;
        color: $cor-texto;
        @media (max-width: 400px) {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        h1{
            font-size: $font-tamanho-h1;
            margin-block: $esp-grande;
        }

        p{
            font-size: $font-tamanho-p;
            font-weight: 500;
            line-height: 1.5;
        }
    }
}
