  $cor-neutra-1: #fff;
  $cor-neutra-2: #e1e1e6;
  $cor-neutra-3: #c4c4cc;
  $cor-neutra-4: #8d8d99;

  $cor-neutra-5: #7c7c8a;
  $cor-neutra-6: #323238;
  $cor-neutra-7: #202024;
  $cor-neutra-8: #121214;

  $escala-plus: 12.5rem; // 200
  $escala-xx-gg: 8rem; // 128
  $escala-xxg: 6rem; // 96
  $escala-xg: 4.5rem; // 72
  $escala-g: 3rem; // 48
  $escala-m: 2rem; // 32
  $escala-p: 1.5rem; // 24
  $escala-pp: 1rem; // 16

$cor-primaria: #00b373;
$cor-secundaria: #00975f;

$fonte: 'Roboto', sans-serif;
