.fade_in {
  animation: fadeIn 0.5s forwards;
}

.fade_out {
  animation: fadeOut 0.5s forwards;
}

.hide {
  display: none;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  max-height: -moz-fit-content;
  max-height: fit-content;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

body {
  min-height: 100svh;
  display: grid;
  place-content: center;
  background-color: hsl(27, 66%, 92%);
}

main {
  width: 500px;
}
main #container_total {
  background-color: hsl(10, 79%, 65%);
  color: white;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
main #container_total div, main #container_total picture {
  margin: 0 0;
}
main #container_semana {
  padding: 5%;
  background-color: white;
  border-radius: 10px;
}
main #container_semana #container_estatisticas {
  opacity: 0;
}
main #container_semana #container_estatisticas h1 {
  margin-bottom: 12%;
}
main #container_semana #container_estatisticas #container_gastos {
  height: 20vh;
  display: flex;
  align-items: end;
  gap: 3%;
  padding-bottom: 8%;
  border-bottom: 1px solid hsl(27, 66%, 92%);
  margin-bottom: 5%;
}
main #container_semana #container_estatisticas #container_gastos div {
  height: 15%;
  flex-basis: 100%;
  background-color: hsl(10, 79%, 65%);
  transition: 0.2s;
  cursor: pointer;
  border-radius: 7px;
  position: relative;
}
main #container_semana #container_estatisticas #container_gastos div span {
  position: absolute;
  opacity: 0;
  top: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(25, 47%, 15%);
  padding: 5% 8%;
  color: white;
  width: 105%;
  border-radius: 3px;
  text-align: center;
  font-size: 0.8rem;
  transition: 0.2s;
}
main #container_semana #container_estatisticas #container_gastos div:hover {
  background-color: hsl(186, 34%, 60%);
}
main #container_semana #container_estatisticas #container_gastos div:hover span {
  opacity: 1;
}
main #container_semana #container_estatisticas #container_gastos .show {
  opacity: 1;
}
main #container_semana #container_estatisticas #container_gastos div::before {
  bottom: -1.3rem;
  font-size: 0.8rem;
  opacity: 0.5;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="1"]::before {
  content: "seg";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="2"]::before {
  content: "ter";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="3"]::before {
  content: "qua";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="4"]::before {
  content: "qui";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="5"]::before {
  content: "sex";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="6"]::before {
  content: "sab";
}
main #container_semana #container_estatisticas #container_gastos div[data-dia="7"]::before {
  content: "dom";
}
main #container_semana #container_estatisticas footer {
  display: flex;
  justify-content: space-between;
}
main #container_semana #container_estatisticas footer div {
  margin: 0;
}
main #container_semana #container_estatisticas footer div #total_anterior {
  font-size: 2rem;
}
main #container_semana #container_form {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}
main #container_semana #container_form h1 {
  width: 100%;
  margin-bottom: 8%;
}
main #container_semana #container_form button {
  width: 50%;
  background: hsl(186, 34%, 60%);
  color: white;
  border: none;
  border-radius: 7px;
  margin-block: 5%;
  padding-block: 3%;
  transition: 0.3s;
}
main #container_semana #container_form button:hover {
  cursor: pointer;
  background-color: hsl(10, 79%, 65%);
}
main #container_semana #container_form div {
  flex-basis: 40%;
  margin-bottom: 3%;
}
main #container_semana #container_form div input {
  width: 100%;
  border-radius: 4px;
  padding: 8%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}